:root {
 --yoo-gantt-chart-width: 450px;
}
ol.trace-code {justify-self: start; /*background-color: #BEF648;*/}
pre.code { justify-self: center;}
tr, td, th{border: 1px solid;}

.yoo-gantt-chart > ul.withborder > li:nth-of-type(odd){
  background-color: black;
}
.yoo-gantt-chart li{
  list-style-type: none;
  text-align: center;
}
