div#software-cs-turn-i-j-id {
  display: grid;
  grid-template-areas:
    'h1 h1 '
    'shcode shcode'
    'p0desc p1desc'
    'sh2code sh2code'
    'p0code p1code'
    ;
}
div#software-cs-turn-i-j-id > h1:nth-of-type(1){ grid-area: h1;}
div#software-cs-turn-i-j-id > pre:nth-of-type(1){ grid-area: shcode; justify-self: center;}
div#software-cs-turn-i-j-id > pre:nth-of-type(2){ grid-area: p0desc;}
div#software-cs-turn-i-j-id > pre:nth-of-type(3){ grid-area: p1desc;}
div#software-cs-turn-i-j-id > pre:nth-of-type(4){ grid-area: sh2code;}
div#software-cs-turn-i-j-id > pre:nth-of-type(5){ grid-area: p0code;}
div#software-cs-turn-i-j-id > pre:nth-of-type(6){ grid-area: p1code;}
