div#ply-calc220-id {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 1em;
}

div#ply-calc220-2-id {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 1em;
}

/*
div#etf-code-id{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 1em;
}
*/

div#Ea-LR-parse-id{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: stretch;
  grid-gap: 1em;
  padding-left: 5px;
}

div#Ea-LR-parse-semantic-id{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: stretch;
  grid-gap: 0.1em;
  padding-left: 1px;
}


div#ply-calc220-code-id{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 1em;
}

/*
div#etf-code-id{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 1em;
}
*/

