
/*@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville|Racing+Sans+One|Satisfy);

@media screen and (min-width:1599px) { #impress { transform: scale(1.6) !important; }}
@media screen and (min-width:1200px) and (max-width:1599px) { #impress { transform: scale(1.4) !important; }}

@media screen and (min-width:800px) and (max-width:1199px) { #impress { transform: scale(1.05) !important; }}
#impress{
  margin: 0;
  padding: 0;
}*/
/*#impress {
  transform: scale(1) !important;
}*/
body{
  text-align: center;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
}/*font-size: 170%;  font-family: Libre Baskerville; font-family: Nazli, Libre Baskerville;  background-color: white /* #EBEEEE #E8E0F1 #F0F1E0 #E0EAF1 #E2E5E7 #ECEFDE #DEEFDE #007bff #00b2e3 #D0F0D0 #F3E2E2 #D1D8E4; #728ec2;*/
p{
  font-weight: normal;
  margin-bottom: 0.3em;
  margin-top: 0.3em; /*font-size: 110%;*/
}
em{font-size: 1.1rem;} /*font-family: Satisfy;*/
strong{font-family: Racing Sans One;} /*letter-spacing: -2px;*/
h1, h2, h3, h4, rtl-h1{
  font-weight: normal; 
  margin-bottom: 0.3em;  
  margin-top: 0.3em;
} ul, ol, pre.code{text-align: left;}
pre.code{
  padding-top: 0.1em; 
  padding-bottom: 0.1em; 
  padding-left: 0.2em; 
  padding-right: 0.2em; 
  border-style: solid; 
  border-left-width: 0.5em; 
  border-top-width: thin; 
  border-right-width: thin; 
  border-bottom-width: thin; 
  border-color: #95ABD0;
  font-size: 1.1rem;
} pre.code > .ln{background-color: #DFE5F1;}
.rtl{direction:rtl; text-align:justify; }
.ltr{direction:ltr; text-align:justify;}
pre.code{background-color:#f0f0f0;}
pre.console{background-color: #F9E0E0;}
ol.trace-code{
  background-color: #F3F2CD;
  color: #27435F/* #466E95*/;
  padding-left: 1.5em;
  padding-right: 1em;
  list-style: none;
  counter-reset: my-awesome-counter;
}
ol.trace-code li {
  counter-increment: my-awesome-counter;
}
ol.trace-code li::before {
  content: counter(my-awesome-counter) ". ";
  color: red;
  font-weight: bold;
} 
#ThreeD H1{
    font-family: Racing Sans One;
    font-size: 3rem;
}
#thequestion p {font-family: Racing Sans One;} 
.footer{position:absolute;top:95%;font-size:50%;}

table.have-border, table.have-border tr, 
table.have-border td, table.have-border th{ 
  border: 1px solid black;
}
table.have-border th, table.have-border th p
{font-weight: bold;}
table.equal-col{
  table-layout: fixed;
  width: 400px;
}
table.smallerelementwithfullborder, 
table.smallerelementwithfullborder tr, 
table.smallerelementwithfullborder td, 
table.smallerelementwithfullborder th 
{border: 1px solid black;padding-left: 0.3rem;padding-right: 0.3rem;}
table.smallerelementwithfullborder th, table.smallerelementwithfullborder th p
{font-weight: bold;}
.grid-2col-class{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;  /*overflow: scroll;*/
} 
.grid-2col1fr2fr-class{
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: stretch;
  overflow: scroll;
}
div.t2c{
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  align-items: center ;
  gap: 1px ;
}
div.t2c > h1, div.t2c > .rtl-h1{
  grid-column: 1 / 3;
  background-color: #E6F4FA;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

div.yoo-grid-auto-flow-column{
  display: grid;
  gap: 2rem;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
  justify-items: stretch;
  padding: 10px;
  /* https://theindustrydirect.com/notes/spaces/space-database/css-cascading-style-sheets/css-notes-database/flexbox-like-quotjust-put-elements-in-a-rowquot-with-css-grid
   * https://css-tricks.com/flexbox-like-just-put-elements-in-a-row-with-css-grid/
  */
}
div.scrollbar-box800x500px-overflow{
  width: 800px;
  height: 500px;  
  overflow: scroll;
}
.tableheaderwithgraybackground th {
    font-weight: bold;
    background-color: #BFBFBF;
}
