/*
https://github.com/hakimel/reveal.js/issues/1410
https://github.com/impress/impress.js/issues/141
https://stackoverflow.com/questions/23571270/reveal-js-print-to-pdf-only-prints-the-first-slide
*/

.fallback-message { display: none; }
@page land {size: landscape;}
.step { border: 0; opacity: 1 !important; page-break-inside: avoid; page-break-after: always; position: relative !important; -webkit-transform: none !important;  }
.step img { max-height: 100%; }
body { height: auto !important; overflow: visible !important; }
#impress { position: relative !important; -webkit-transform-origin: none !important; top: 0 !important; left: 0 !important; -webkit-transform: none !important; }
