@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville|Racing+Sans+One|Satisfy);
/*
@media screen and (min-width:1149px) { #impress { transform: scale(1.5) !important; }}
@media screen and (min-width:1200px) and (max-width:1148px) { #impress { transform: scale(1.3) !important; }}
@media screen and (min-width:800px) and (max-width:1199px) { #impress { transform: scale(1.25) !important; }}
@media screen and (min-width:640px) and (max-width:799px) { #impress { transform: scale(0.8) !important;}}
@media screen and (min-width:500px) and (max-width:639px) { #impress { transform: scale(0.8) !important;  }}
*/
body {
  text-align: center;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1.3em;
/* background-color: white  #EBEEEE #E8E0F1 #F0F1E0 #E0EAF1 #E2E5E7 #ECEFDE #DEEFDE #007bff #00b2e3 #D0F0D0 #F3E2E2 #D1D8E4; #728ec2;*/
}
/*
@media screen and (min-width:1149px) { #impress { transform: scale(1.4) !important; }}
@media screen and (min-width:800px) and (max-width:1148px) { #impress { transform: scale(1.3) !important; }}
@media screen and (min-width:640px) and (max-width:799px) { #impress { transform: scale(0.8) !important;}}
@media screen and (min-width:500px) and (max-width:639px) { #impress { transform: scale(0.8) !important;  }}
body { text-align: center;  font-family: Nazli, Libre Baskerville;  background-color: #D1D8E4; #728ec2;}
*/
p {margin-bottom: 0.3em; margin-top: 0.3em;}
em { font-family: Satisfy;}
strong { font-family: Racing Sans One;    /*letter-spacing: -2px;*/}
h1, h2, h3, h4 {margin-bottom: 0.3em;  margin-top: 0.3em;}
ul, ol, pre.code{text-align: left;}
pre.code{padding-top: 0.1em; padding-bottom: 0.1em; padding-left: 0.2em; padding-right: 0.2em; border-style: solid; border-left-width: 0.5em; border-top-width: thin; border-right-width: thin; border-bottom-width: thin; border-color: #95ABD0;}
pre.code > .ln {background-color: #DFE5F1;}
.rtl { direction: rtl; text-align: justify; }
.ltr { direction: ltr;  text-align: justify;}
pre.code { background-color:#f0f0f0;}
pre.console{background-color: #F9E0E0;}

/*
https://css-tricks.com/custom-list-number-styling/
https://stackoverflow.com/questions/5127583/html-ul-css-border-style/5128236
*/
ol.trace-code{ 
  background-color: #F3F2CD; 
  color: #27435F/* #466E95*/;
  padding-left: 1.5em; 
  padding-right: 1em; 
  list-style: none;
  counter-reset: my-awesome-counter;
}
ol.trace-code li {
  counter-increment: my-awesome-counter;
}
ol.trace-code li::before {
  content: counter(my-awesome-counter) ". ";
  color: red;
  font-weight: bold;
}
.smallerelementwithfullborder table, .smallerelementwithfullborder tr, .smallerelementwithfullborder td, .smallerelementwithfullborder th  {
    border: 1px solid black;
    padding-left: 0.3em;
    padding-right: 0.3em;
}
.yoosofantextalignleft {
    text-align: left; 
}

.center {
  margin: auto;
  width: 50%;
  /*border: 3px solid green;*/
  padding: 10px;
}
