div#aggregation-functions-sum-id{
  display: grid;
  grid-template-areas:
    'h1 h1 h1 sp1table'
    'h2 h2 h2 sp1table'
    'q1table q1sql q1p sp1table'
    'q2table q2sql q2p sp1table'
    'q3table q3sql q3p sp1table'
    ;
  gap: 10px;
}
div#aggregation-functions-sum-id > h1:nth-of-type(1){ grid-area: h1;}
div#aggregation-functions-sum-id > h2:nth-of-type(1){ grid-area: h2;}
div#aggregation-functions-sum-id > p:nth-of-type(1){ grid-area: q1p;}
div#aggregation-functions-sum-id > pre:nth-of-type(1){ grid-area: q1sql;}
div#aggregation-functions-sum-id > table:nth-of-type(1){ grid-area: q1table;}
div#aggregation-functions-sum-id > p:nth-of-type(2){ grid-area: q2p;}
div#aggregation-functions-sum-id > pre:nth-of-type(2){ grid-area: q2sql;}
div#aggregation-functions-sum-id > table:nth-of-type(2){ grid-area: q2table;}
div#aggregation-functions-sum-id > p:nth-of-type(3){ grid-area: q3p;}
div#aggregation-functions-sum-id > pre:nth-of-type(3){ grid-area: q3sql;}
div#aggregation-functions-sum-id > table:nth-of-type(3){ grid-area: q3table;}
div#aggregation-functions-sum-id > table:nth-of-type(4){ grid-area: sp1table;}

