@import "fontface.css";
:root{--base-font-size: 1.2rem;}
body {  margin:0.5px; padding:0.5px;}
/*body { direction: rtl; font-family: 'behdad'; font-size: 1.5em; margin:0.5px; padding:0.5px;}*/

.rtl { direction: rtl; }
.ltr { direction: ltr; font-family: behdad; font-size: var(--base-font-size); }

pre.code { background-color:#f0f0f0;}
pre.console{background-color: #F9E0E0;}

.center {text-align: center; align:center;   margin-left: auto;  margin-right: auto;}
p {margin:0.1rem; padding: 0.1rem; text-align: justify;}
.tableheaderwithgraybackground th {
  /*border: 1px solid black;*/
  font-weight: bold;
  /* background-color: lightgray;  #BFBFBF; */
  print-color-adjust: economy;
  margin:0.5px; padding:0.5px;
}
.table-without-border-class, .table-without-border-class *{
  border: none;
  margin:0.5px; padding:0.5px;
  text-align: right;
}
table.smallerelementwithfullborder, table.smallerelementwithfullborder tr, 
table.smallerelementwithfullborder td, table.smallerelementwithfullborder th
{border: 1px solid black;}

.rtl-h1{
  direction: rtl;
  font-size: xx-large;
  text-align: center;
  margin-bottom: 0.1em;
  margin-top: 0.1em;
  font-family: behdad;
}

.rtl-h2{
  direction: rtl;
  font-size: x-large;
  text-align: center;
  margin-bottom: 0.1em;
  margin-top: 0.1em;
  font-family: behdad;
}

.rtl-h3{
  direction: rtl;
  font-size: large;
  text-align: center;
  margin-bottom: 0.1em;
  margin-top: 0.1em;
  font-family: behdad;
}

ol.rtl-h1, ol.rtl-h2, ol.rtl-h3, ul.rtl-h1, ul.rtl-h2, ul.rtl-h3{
  text-align: right;
  font-family: behdad;
}

ol.rtl-h1 li, ol.rtl-h2 li, ol.rtl-h3 li, ul.rtl-h1 li, ul.rtl-h2 li, ul.rtl-h3 li{
  text-align: right;
  font-size: large;
}
div.t2c{
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  align-items: center ;
  gap: 10px ;
}
div.t2c > h1, div.t2c > .rtl-h1{
  grid-column: 1 / 3;
  background-color: #E6F4FA;
}
